# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data_children = data.groupby('children').agg({'debt': ['mean', 'count']})['debt']\
.rename(columns = {'mean':'mean debt', 'count':'number of clients'})
data_children

          mean debt  number of clients
children
0          0.075438              14091
1          0.092346               4808
2          0.094542               2052
3          0.081818                330
4          0.097561                 41
5          0.000000                  9

<div class="alert alert-success">
<b>Комментарий ревьюера №1</b> ✅
    
Могу посоветовать переименовать столбцы и написать функцию для построения сводных во всех вопросах.
</div>

**Вывод:** 
Сравним категории с большим количеством заёмщиков. Для групп без детей, с 1 ребёнком и с 2 детьми. Можно сделать вывод, что с увеличением количества детей, количество просроченных кредитов увеличивается, а значит и должников.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_family_status = data.groupby('family_status').agg({'debt': ['mean', 'count']})['debt']\
.rename(columns = {'mean':'mean debt', 'count':'number of clients'})
data_family_status

                       mean debt  number of clients
family_status
Не женат / не замужем   0.097639               2796
в разводе               0.070648               1189
вдовец / вдова          0.066246                951
гражданский брак        0.093130               4134
женат / замужем         0.075606              12261

**Вывод:** 
По полученным данным можно сделать вывод, что возвращают кредиты в срок люди, который либо состояли в браке, либо до сих пор состоят. Самый лучший показатель у вдов и вдовцов.

<div class="alert alert-success">
<b>Комментарий ревьюера №1</b> ✅
    
Люди, побывавшие в официальном браке, наиболее надежны. Возможно, есть связь с возрастом
</div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
data_total_income_category = data.groupby('total_income_category').agg({'debt': ['mean', 'count']})['debt']\
.rename(columns = {'mean':'mean debt', 'count':'number of clients'})
data_total_income_category

                       mean debt  number of clients
total_income_category
A                       0.080000                 25
B                       0.070602               5014
C                       0.084982              15921
D                       0.060172                349
E                       0.090909                 22

**Вывод:** Ранее мы разделили заёмщиков на категории по уровню заработка.

0–30000 — 'E';

30001–50000 — 'D';

50001–200000 — 'C';

200001–1000000 — 'B';

1000001 и выше — 'A'.


Для вывода возьмём средние по самым крупным категориям - B и C. Таким образом, с увеличением дохода, количество кредитов погашенных в срок возрастает, а сответственно уменьшается доля должников.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
data_purpose_category = data.groupby('purpose_category').agg({'debt': ['mean', 'count']})['debt']\
.rename(columns = {'mean':'mean debt', 'count':'number of clients'})
data_purpose_category

                          mean debt  number of clients
purpose_category
операции с автомобилем     0.093480               4279
операции с недвижимостью   0.072551              10751
получение образования      0.092528               3988
проведение свадьбы         0.079118               2313

Создадим сводную таблицу по семейному статусу и цели кредита. Это пригодится для вывода.

In [26]:

data_purpose_category_svod = data.pivot_table(index=['purpose_category', 'family_status'], values='debt', aggfunc=['mean','count'])\
.rename(columns = {'mean':'mean debt', 'count':'number of clients'})
data_purpose_category_svod

                                               mean debt number of clients
                                                    debt              debt
purpose_category         family_status
операции с автомобилем   Не женат / не замужем  0.129134               635
                         в разводе              0.075269               279
                         вдовец / вдова         0.091743               218
                         гражданский брак       0.118605               430
                         женат / замужем        0.083180              2717
операции с недвижимостью Не женат / не замужем  0.081337              1586
                         в разводе              0.068452               672
                         вдовец / вдова         0.052336               535
                         гражданский брак       0.092105               988
                         женат / замужем        0.069727              6970
получение образования    Не женат / не замужем  0.107826               575
                         в разводе              0.071429               238
                         вдовец / вдова         0.075758               198
                         гражданский брак       0.148883               403
                         женат / замужем        0.083528              2574
проведение свадьбы       гражданский брак       0.079118              2313

**Вывод:** Судя по полученным данным кредиты на оперции с недвижимостью возвращают чаще всего в срок. Также обстоят дела с кредитами на проведение свадеб, хоть средний показатель и похуже. А вот кредиты на операции с автомобилеми и на получение образования заёмщики возвращяют в срок реже.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропущенные значения были в столбцах 

days_employed — общий трудовой стаж в днях,

total_income — ежемесячный доход.

К возможным причинам можно отнести отсутствие трудового стажа заёмщика, неофициальная работа, сам человек мог не предоставить данных о доходах и стаже. Также могли возникнуть какие-то технические проблемы, которые привели к пропускам в данных.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнить пропуски медианным значением - это лучшее решение, потому что медианное значение не будет влиять на дальнейший анализ, в отличие, например, от среднего. Медиана - это число, которое находится по середине выборки и на него не влияют сильно отличающиеся от остальных значения, а среднее находится путём деления суммы всех чисел на их количество, поэтому любое сильно отличающееся значение может повлиять, что приводит к искажению в анализе.

### Шаг 4: общий вывод.

**Общий вывод**

Для корректного анализа была проведена предобработка данных. В ней мы заполнили недостающие данный медианными значениями, которые не будут оказвать сильное влияние на будущий анализ, некорректные и аномальные данный привели к нужному формату или удалили.

По полученным данным можно сделать вывод, что есть зависимость между количеством детей, семейным положением, уровнем дохода и возвратом кредита в срок. Так люди когда-либо состоящие в браке чаще возвращаеют кредиты в срок, с увеличением дохода клиента, так же кредит чаще всего закрывается в срок, а с увеличением количества детей уменьшается количество закрытых вовремя кредитов.
Также люди возвращают кредиты в срок чаще в зависимости от цели. Так по кредитам, где цели 'операции с недвижимостью' и 'проведение свадеб' меньше всего просрочек. Возможно на это влияет семейное положение. По полученным данным самые хорошие показатели погашения кредита в срок с целью 'операции с недвижимостью' у людей состоящих в браке ранее или в данный момент. А все заёмщики, которые взяли кредит с целью 'проведение свадеб' состоят в гражданском браке, но по всей видимости планируют вступать в официальный.

Теперь мы можем составить портрет *надёжного заёмщика.* Это человек, который берёт кредит на цель 'операции с недвижимостью' и 'проведение свадеб', состоящий в официальном браке на данный момент или ранее (в гражданском, если цель проведение свадьбы), без детей и с высоким уровнем дохода.

Портрет *рискованного заёмщика.* Человек никогда не состоящий в официальном браке, с низким уровнем дохода и с большим количеством детей.

Таким образом, рекомендуется выдавать кредиты людям, состоящим в официальном браке или гражданском, если цель проведение свадьбы, без детей или с небольшим количеством детей и со средним, высоким уровнем дохода. Эти заёмщики стабильные, надёжные и ответственные, а значит наиболее кредитоспособные.